<div class="acccontrol-view">
    <h2>{{ 'NAV_ACCOUNT_CONTROL' | translate }}</h2>
    <p>{{ 'ACCONTROL_DESC' | translate }}</p>
    <form method="post" action="#">
        <div class="row uniform 50%">
            <div class="12u">
                <div class="select-wrapper">
                    <label for="accountControl">{{ 'ACCOUNT_CONTROL_LABEL' | translate }}</label>
                    <select name="account" id="accountControl">
                        <option value="1">{{ 'ACCONTROL_NORMAL_ACCOUNT' | translate }}</option>
                        <option value="2">{{ 'ACCONTROL_SAVINGS_ACCOUNT' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row uniform 50%">
            <div class="4u 12u(narrower)">
                <input type="radio" id="blocked" name="acc-security">
                <label for="blocked">{{ 'ACCONTROL_BLOCKED' | translate }}</label>
            </div>
            <div class="4u 12u(narrower)">
                <input type="radio" id="active" name="acc-security" checked="">
                <label for="active">{{ 'ACCONTROL_UNBLOCKED' | translate }}</label>
            </div>
        </div>
        <div class="row uniform">
            <div class="12u">
                <div class="actions">
                    <div><input type="submit" value="{{ 'ACCONTROL_BTN_CONFIRM' | translate }}"></div>
                </div>
            </div>
        </div>
    </form>

</div>