<div class="status-view">
    <h2>{{ 'NAV_OVERVIEW' | translate }}</h2>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th style="text-align:center;">{{ 'OVERVIEW_BANK_SERVICE' | translate }}</th>
                <th style="text-align:center;">{{ 'OVERVIEW_SALDO' | translate }}</th>
                <th style="text-align:center;">{{ 'OVERVIEW_SALDO' | translate }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'OVERVIEW_NORMAL_ACCOUNT' | translate }}</td>
                <td>4.828,02</td>
                <td>EUR</td>
            </tr>
            <tr>
                <td>{{ 'OVERVIEW_SAVINGS_ACCOUNT' | translate }}</td>
                <td>1.300,00</td>
                <td>EUR</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>