<div class="status-view">
    <h2>Übersicht</h2>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th style="text-align:center;">Bankleistungen</th>
                <th style="text-align:center;">Saldo</th>
                <th style="text-align:center;">Währung</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Persönliches Konto</td>
                <td>4.828,02</td>
                <td>EUR</td>
            </tr>
            <tr>
                <td>SparCard</td>
                <td>1.300,00</td>
                <td>EUR</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>