<div class="transfer-view">
  <h2>{{ 'NAV_TRANSFER' | translate }}</h2>
  <h4>Auftraggeber</h4>
  <div class="table-wrapper">
    <table>
      <tbody>
        <tr>
          <td>{{ 'NAME' | translate }}</td>
          <td>Mustermann, Max</td>
        </tr>
        <tr>
          <td><label for="acc_type">{{ 'ACCOUNT' | translate }}</label></td>
          <td>
            <div class="select-wrapper">
              <select ng-model="transfer.fromAccount" name="category" id="acc_type" style="text-indent: 6em" autofocus>
                <option selected="selected" value="{{ 'ACCOUNT_A' | translate }}">{{ 'ACCOUNT_A' | translate }}</option>
                <option value="{{ 'ACCOUNT_B' | translate }}">{{ 'ACCOUNT_B' | translate }}</option>
              </select>
            </div>
          </td>
        </tr>
        <tr>
          <td>{{ 'IBAN' | translate }}</td>
          <td>DE43 5337 0024 0123 4567 00</td>
        </tr>
        <tr>
          <td>{{ 'CURRENT_ACCOUNT_AMMOUNT' | translate }}</td>
          <td>461,42 EUR</td>
        </tr>
      </tbody>
    </table>
  </div>
  <h4>{{ 'RECIPIENT' | translate }}</h4>
  <form novalidate>
    <div class="row uniform 50%">
      <div class="12u 12u(mobilep)">
        <label for="recipient">{{ 'FORM_NAME' | translate }} <a href="" title="Start sign language video for the word : Receiver" class="urclSignLanguageVideo" data-sl_content="receiver">Reciever</a> </label>
        <input type="text" ng-model="transfer.recipient" name="recipient" id="recipient" value="">
      </div>
      <div class="12u 12u(mobilep)">
        <label for="recipient-account">{{ 'FORM_ACCOUNT_NUMBER' | translate }} <a href="" title="Start sign language video for the word : AccountNumber" class="urclSignLanguageVideo" data-sl_content="accountNumber"> recipientIBAN </a> </label>
        <input type="text" ng-model="transfer.recipientIBAN" name="recipientIBAN" id="recipient-account" value="">
      </div>
      <div class="12u 12u(mobilep)">
        <label for="recipient-blz">{{ 'FORM_BLZ' | translate }} <a href="" title="Start sign language video for the word : recipientBIC" class="urclSignLanguageVideo" data-sl_content="bankCode">recipientBIC</a> </label>
        <input type="text" ng-model="transfer.recipientBIC" name="recipientBIC" id="recipient-blz" value="">
      </div>
      <div class="6u 12u(mobilep)">
        <label for="ammount">{{ 'FORM_AMMOUNT' | translate }} <a href="" title="Start sign language video for the word : Amount" class="urclSignLanguageVideo" data-sl_content="transferAmount">Amount</a> </label>
        <input type="number" ng-model="transfer.ammount" name="amount" id="ammount" value="">
      </div>
      <div class="6u 12u(mobilep)">
        <label for="date">{{ 'FORM_DATE' | translate }} <!-- <a href="" title="Start sign language video for the word : Date" class="urclSignLanguageVideo" data-sl_content="Receiver">Date</a> --> </label>
        <input type="date" ng-model="transfer.date" name="date" id="date" value="{{date | date:'yyyy-MM-dd'}}">
      </div>
      <div class="12u 12u(mobilep)">
        <label for="transfer-motive">{{ 'FORM_REASON' | translate }} <!-- <a href="" title="Start sign language video for the word : Motive" class="urclSignLanguageVideo" data-sl_content="Receiver">Motive</a> --> </label>
        <input type="text" ng-model="transfer.motive" name="motive" id="transfer-motive">
      </div>
    </div>


    <div class="row uniform">
      <div class="12u">
        <div class="actions">
          <div class="btn-spacing">
            <input type="button" ng-click="nextStep()"  value="{{ 'BUTTON_NEXT' | translate }}" style="background-color:red;">
          </div>
          <div>
            <input type="reset" value="{{ 'BUTTON_RESET' | translate }}" class="alt">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="transfer-end-view" style="display: none;">
  <h2>{{ 'NAV_TRANSFER' | translate }}</h2>
  <h4>{{'TRANS_HEADER_TXT' | translate }}</h4>
  <div class="table-wrapper">
    <table>
      <tbody>
      <tr>
        <td>{{ 'RECIPIENT' | translate }}</td>
        <td>{{transfer.recipient}}</td>
      </tr>
      <tr>
        <td>{{ 'FORM_ACCOUNT_NUMBER' | translate }}</td>
        <td>{{transfer.recipientIBAN}}</td>
      </tr>
      <tr>
        <td>{{ 'FORM_BLZ' | translate }}</td>
        <td>{{transfer.recipientBIC}}</td>
      </tr>
      <tr>
        <td>{{ 'FORM_AMMOUNT' | translate }}</td>
        <td>{{transfer.ammount}} EUR</td>
      </tr>
      <tr>
        <td>{{ 'FORM_REASON' | translate }}</td>
        <td>{{transfer.motive}}</td>
      </tr>
      <tr>
        <td>{{ 'TRANSFER_OWNER' | translate }}</td>
        <td>Max Mustermann</td>
      </tr>
      <tr ng-show="transfer.fromAccount">
        <td>{{ 'TRANSFER_OWNER' | translate }} {{ 'ACCOUNT' | translate }}</td>
        <td>{{transfer.fromAccount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <form method="post" action="#">
    <div class="row uniform 50%">
      <div class="6u 12u(mobilep)">
        <label for="tan-number">iTAN <a href="" title="Start sign language video for the word : iTAN" class="urclSignLanguageVideo" data-sl_content="tan"> iTAN </a> </label>
      </div>
      <div class="6u 12u(mobilep)">
        <input type="number" name="tan-number" id="tan-number" value="" placeholder="">
      </div>
    </div>
    <div class="row uniform">
      <div class="12u">
        <div class="actions">
          <div class="btn-spacing">
            <input type="button" id="transConfirmBtn" ng-click="go('/finish')" value="{{ 'TRANSFER_ACTION_BTN' | translate }}" style="background-color:red;">
          </div>
          <div>
            <input type="reset" value="{{ 'CANCEL_BTN' | translate}}" class="alt">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
