<div class="transactions-view">
    <h2>Umsatzanzeige</h2>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th style="text-align:center;">Umsatzdetails</th>
                <th style="text-align:center;">Soll</th>
                <th style="text-align:center;">Haben</th>
                <th style="text-align:center;">Währung</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Andreas Lieb</td>
                <td>428,00 EUR</td>
                <td> </td>
                <td>EUR</td>
            </tr>
            <tr>
                <td>Sabiha Meier</td>
                <td> </td>
                <td>150,00</td>
                <td>EUR</td>
            </tr>
            </tbody>
        </table>
    </div>

    <h4>Ordered</h4>
    <ol>
        <li>Dolor pulvinar etiam magna etiam.</li>
        <li>Etiam vel felis at lorem sed viverra.</li>
        <li>Felis enim feugiat dolore viverra.</li>
        <li>Dolor pulvinar etiam magna etiam.</li>
        <li>Etiam vel felis at lorem sed viverra.</li>
        <li>Felis enim feugiat dolore viverra.</li>
    </ol>
</div>