<div class="features-row">
    <section>
        <a href="http://ASPanel.gpii.eu" style="border: none;"><span class="icon major fa-bolt accent2" style="cursor: pointer"></span></a>
        <h3>{{ 'INFO_HEADER_1' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_1' | translate }}</p>
    </section>
    <section>
        <a href="http://gpii.eu/mario-ui/" style="border: none;"><span class="icon major fa-square-o accent3" style="cursor: pointer"></span></a>
        <h3>{{ 'INFO_HEADER_2' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_2' | translate }}</p>
    </section>
</div>
<div class="features-row">
    <section>
        <a href="http://cloud4all.info" style="border: none;"><span class="icon major fa-cloud accent4" style="cursor: pointer"></span></a>
        <h3>{{ 'INFO_HEADER_3' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_3' | translate }}</p>
    </section>
    <section>
        <a href="http://gpii.net" style="border: none;"><span class="icon major fa-group accent5" style="cursor: pointer"></span></a>
        <h3>{{ 'INFO_HEADER_4' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_4' | translate }}</p>
    </section>
</div>