<div class="features-row">
    <section>
        <span class="icon major fa-bolt accent2"></span>
        <h3>{{ 'INFO_HEADER_1' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_1' | translate }}</p>
    </section>
    <section>
        <span class="icon major fa-area-chart accent3"></span>
        <h3>{{ 'INFO_HEADER_2' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_2' | translate }}</p>
    </section>
</div>
<div class="features-row">
    <section>
        <span class="icon major fa-cloud accent4"></span>
        <h3>{{ 'INFO_HEADER_3' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_3' | translate }}</p>
    </section>
    <section>
        <span class="icon major fa-lock accent5"></span>
        <h3>{{ 'INFO_HEADER_4' | translate }}</h3>
        <p>{{ 'INFO_CONTENT_4' | translate }}</p>
    </section>
</div>