
        <div class="row uniform 50%">
            <div class="12u">
                <input type="text" name="subject" id="name" value="" placeholder="{{ 'PLACEHOLDER_ACCOUNT' | translate }}" />
            </div>
        </div>
        <div class="row uniform 50%">
            <div class="12u">
                <input type="password" name="subject" id="password" value="" placeholder="{{ 'PLACEHOLDER_PIN' | translate }}" />
            </div>
        </div>
        <div class="row uniform">
            <div class="12u">
                <ul class="actions align-center">
                    <li><a href="bank.html">{{ 'ACTION_LOGIN' | translate }}</a></li>
                    <li><input type="button" ng-click="closeThisDialog()" value="{{ 'ACTION_CANCEL' | translate }}"/></li>
                </ul>
            </div>
        </div>
